@import "../../../index.scss";

.login {
  display: flex;
  justify-content: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 170px 15px 0px;
  width: 100%;
  @include tablet {
    margin-left: 0;

    min-width: 320px;
  }
}

.title {
  font-size: 24px;
}

.text {
  font-size: 14px;
  color: #171717;
}

.rightSide {
  display: none;
  @include tablet {
    opacity: 0.95;
    display: flex;
    width: 100%;
    background-image: url("../../../../img/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
}
