.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: 40px;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  &:hover {
    color: #686868;
    border-color: 686868;
  }
}

.redButton {
  @extend .button;
  color: red;
  border: 1px solid red;
  background-color: transparent;
  &:hover {
    color: #870505;
    border-color: #870505;
  }
}
