@import "../../index.scss";
.appWrapper {
    background-image: url("../../../img/background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
    @include tablet {
        background-position-y: -190px;
        background-attachment: fixed;
    }
}
