.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom-style: solid;

}
.nav {
    display: flex;
    align-items: center;
    height: 50px;
}
.header_home {
    /* padding-left: 50px; */

    color: black;
}
.nav_button:last-child {
margin-left: 15px
}
.header_signin {
    margin-right: auto;

    color: black;
}

&.active {
    color: orange;
}