.item {
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.item:last-child {
    margin-bottom: 0;
}

.number {
    margin-left: 10px;
    margin-right: 10px;
}
.list{
    margin-top: 20px;
}