.userMenuWrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    min-width: 180px;
}
.logout_button {
    height: 36px;
}
.welcome_message {
    font-size: 18px;
    margin-right: 15px;
}
