@import "../../index.scss";
.wrapper {
    @include flex;

    align-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;

    margin-top: 15px;
    margin-bottom: 15px;
    gap: 15px;
    @include tablet {
        min-width: 180px;
    }
}
.welcomeMessage {
    display: none;
    font-size: 18px;
    margin-right: 15px;
    text-align: end;
    @media screen and (min-width: 500px) {
        display: flex;
        margin-right: 15px;
    }
}

.logoutLoading {
    margin-left: 5px;
}

.userMenuWrapper button {
    border: 1px solid white;
    color: #fafafa;
}
.logoutButton {
    height: 36px;
}
